/absl-py/
/astunparse/
/certifi/
/charset-normalizer/
/dm-tree/
/flatbuffers/
/gast/
/google-pasta/
/grpcio/
/h5py/
/idna/
/keras/
/libclang/
/Markdown/
/markdown-it-py/
/MarkupSafe/
/mdurl/
/ml-dtypes/
/namex/
/numpy/
/opt-einsum/
/packaging/
/protobuf/
/Pygments/
/requests/
/rich/
/six/
/tensorboard/
/tensorboard-data-server/
/tensorflow/
/tensorflow-intel/
/tensorflow-io-gcs-filesystem/
/termcolor/
/typing_extensions/
/urllib3/
/Werkzeug/
/wrapt/

# Virtual Environment
venv/
env/

# Dependency files
requirements.txt
Pipfile.lock